// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
// Variables

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'components/gov';
@import 'components/breadcrumbs';
@import 'components/accessibility';
@import 'Dash/home';
@import 'usersviews/usuarios';
@import 'usersviews/index.blade.scss';
@import 'usersviews/vistaCrearUsuario';
@import 'usersviews/vistaDetallesUsuario';
@import 'usersviews/vistaPerfil';
@import 'dependencias/show';
@import 'solicitudes/create';
@import 'solicitudes/edit';
@import 'solicitudes/show';
@import 'soportes/show';  // Añadir esta línea

@import 'equipos/create';
@import 'equipos/index';
@import 'equipos/edit';
@import 'hardware';

/* Login Card */
.card {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    background: #5881D5; /* Fondo oscuro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Login Title */
.card-header {
    font-size: 1.8rem;
    font-weight: bold;
    color: #10162e;
    background: none;
    border-bottom: none;
    margin-bottom: 1rem;
}

/* Cambiar el color de las etiquetas de los campos */
label {
    color: #10162e;
    font-weight: bold;
}

/* Login Button */
.btn-primary {
    margin: 1rem auto;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.6rem 1.2rem;
    background-color: #effcff;
    color: #10162e;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #17182b;
    color: #ffffff;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

/* Forgot Password Link */
.btn-link {
    color: #f5f5f5;
    display: block;
    font-size: 0.9rem;
    margin-top: 1rem;
    transition: color 0.3s ease-out;
}

.btn-link:hover {
    color: #ffeba7; /* Color amarillo al pasar el mouse */
}

@import 'usersviews/vistaCrearUsuario';

.barra-superior-govco {
    .btn-link {
        font-size: 14px;
        padding: 8px 16px;
        
        &:hover {
            opacity: 0.8;
        }
    }
}
